/*再利用*/
.clearfix::after{
  display: block;
  content: "";
  clear: both;
}
.inner{
  width: 1100px;
  margin: 0 auto;
}
/*font-family*/
body{
  font-family: "Lato";
}
.font-w{
  font-family: "Raleway";
}
/*header*/
.header{
  width: 100%;
  position: fixed;
  background-color: #fff;
  z-index: 50; 
}
.content{
  padding: 15px 0;
}
.bolt-icon{
  float: left;
  color: #4e4e4e;
  opacity: 0.7;
}
.content-btn{
  float: right;
  background-color: #74cfae;
  font-size: 12px;
  color: #fff;
  padding: 14px 12px;
  box-sizing: border-box;
  text-decoration: none;
  transition: 0.3s;
}
.content-btn:hover{
  color: #333;
}
.burger{
  float: right;
  display: none;
  width: 40px;
  height: 30px;
  padding: 10px;
border: 1px solid #ddd;
border-radius: 4px;
}
.burger-border{
  border: 2px solid #ddd;
  margin-bottom: 10px;
}
/*headerレスポ*/
@media screen and (max-width: 767px){
  .inner{
    width: 97%;
  }
  .burger{display: block;
  }
  .content-btn{
    display: none;
  }
}

/*theme*/
.theme{
  margin: 0 auto; 
  background-color: #f2f2f2;
  padding-top: 78px;
  
}
.theme-box{
  text-align: center;
  padding-top: 250px;
  padding-bottom: 250px;
}
.theme-text{
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 20px;
  box-sizing: border-box;
}
.theme-comment{
  color: #4e4e4e;
  opacity: 0.5;
  font-size: 30px;
}
.br-sp{
  display: none;
}
/*themeレスポ*/
@media screen and (max-width: 767px){
  .inner{
    width: 97%;
  }
  .theme-box{
    padding: 160px 0 130px 0;
  }
  .theme-text{
    font-size: 80px;
  }
  .theme-comment{
    font-size: 30px;
  }
  .br-sp{
    display: block;
  }
}
/*section what*/
.what{
  margin: 0 auto;
  background-color: #74cfae;
}
.what-box{
  display: flex;
  justify-content: space-around;
  padding: 50px 100px 0 100px;
  box-sizing: border-box; 
}
.what-textbox{
  text-align: center;
  margin-left: 30px;
}
.what-text-large{
  font-size: 24px;
  color: #f2f2f2;
  margin-bottom: 35px;
}
.what-text-small{
  font-size: 20px;
  color: #f2f2f2;
}
/*what-tab レスポ*/
@media screen and (max-width:1199px){
  .inner{
    width: 97%;
  }
  .what-box{
    display: block;
    text-align: center;
    padding-bottom: 25px;
  }
  .what-textbox{
    margin-top: 20px;
  }
  .inner{
    width: 97%;
  }
  .what-img-iphone{
    display: inline-block;
  }
}

/*artcle later*/
.later{
  margin: 0 auto;
  background-color: #f2f2f2;
}
.later-box{
  padding-top: 60px;
  padding-bottom: 70px;
}
/*Wのテキスト部分*/
.later-header-text{
  font-size: 24px;
  text-align: center;
  margin-bottom: 40px;
}
.later-img-box{
  width: 100%;
}
.later-img{
  display: inline-block;
  float: left;
  margin: 0 100px 80px 0;
  transition: 0.3s;
  opacity: 0.7;
}
.later-img:nth-child(3n){
  margin-right: 0px;
}
.later-img:nth-last-child(-n+3){
  margin-bottom: 0px;
}
.later-img:hover{
  opacity: 1;
}
.later-footer{
  margin-top: 90px;
  text-align: center;
}
.later-footer-box{
  display: inline-block;
}
.later-footer-text{
  width: 500px;
  margin-right: 90px;
  float: left;
}
.later-content{
  background-color: #74cfae;
  font-size: 12px;
  padding: 14px 20px;
  color: #fff;
  float: left;
  text-decoration: none;
  transition: 0.3s;
}
.later-content:hover{
  color: #333;
}
/*laterレスポ*/
@media screen and (max-width:1199px){
  .inner{
    width: 97%;
  }
.later-img{
  float: none;
  display: block;
  margin: auto;
  width: 300px;
  height: 300px;
}
.later-img:nth-child(3n){
  margin-right: auto;
  margin-bottom: 80px;
}
.later-img:last-child{
  margin-bottom: 0px;
}
.later-footer-text{
  float: none;
  width: 100%;
  margin-right: 0;
  margin-bottom: 40px;
}
.later-content{
  display: inline-block;
  float: none;
  box-sizing: border-box;
}
}

.skill{
  margin: 0 auto;
  background-color: #4e4e4e;
}
.skill-box{
padding: 70px 0 100px 0;
text-align: center;
}
.skill-header-text{
  color: #fff;
  display: inline-block;
  margin-bottom: 30px;
  font-size: 24px;
}
.loading-inbox{
  float: left;
  margin-right: 180px;
}
.loading-inbox:last-child{
  margin-right: 0px;
}
.loading-text{
  color: #fff;
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
}
.sns{
  margin: 0 auto;
  background-color: #f2f2f2;
}
.sns-box{
  padding: 200px 0 200px 0;
  box-sizing: border-box;
  text-align: center;
}
.sns-btn{
  background-color: #f2f2f2;
  padding: 20px;
  box-sizing: border-box;
  width: 185px;
  display: inline-block;
  transition: 0.3s;
}
.sns-btn:hover{
  background-color: #fff;
}
.sns-icon{
  display: inline-block;
  color: #74cfae;
}
/*snsレスポ*/
@media screen and (max-width: 767px){
  .inner{
    width: 97%;
  }
  .sns-box{
    padding: 50px 0 50px 0;
  }
  .sns-btn{
    display: block;
    margin: 0 auto;
    width: 100%;
  }
}

/*skill rodingレスポ*/
@media screen and (max-width:1199px){
  .inner{
    width: 97%;
  }
  .loading-inbox{
    float: none;
    margin: 0 0 88px 0;
  }
  .loading-inbox:last-child{
    margin-bottom: 0px;
  }
.footer{
  margin: 0 auto;
  background-color: #74cfae;
}
.footer-box{
  padding: 20px 0 25px 0;
}
.footer-text{
  text-align: right;
  color: #fff;
}